<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.intent.action.MEDIA_MOUNTED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".videocutermerger.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoEditor">
        <activity
            android:name=".videocutermerger.activities.AllJoinVideoe"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".videocutermerger.activities.GetAllVIdeoActivty"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>



        <activity
            android:name=".videocutermerger.splace"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".videocutermerger.activities.MainActivity" />



        <activity
            android:name=".videocutermerger.activities.Swap_Edit_Activity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".videocutermerger.activities.Xfermodes"
            android:screenOrientation="portrait" />


        <activity
            android:name=".videocutermerger.activities.PreviewVideoActivity"
            android:screenOrientation="portrait" />



        <activity
            android:name=".videocutermerger.activities.SlideShow_Video_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videocutermerger.activities.Gallery_ImagePicker_Activity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="metadata"
            android:value="videomaker" />

        <service android:name=".videocutermerger.ImageCreatorService" />
        <service android:name=".videocutermerger.CreateVideoService" />

        <activity
            android:name=".videocutermerger.activities.PredefineMusicActivtiy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videocutermerger.activities.SongEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videocutermerger.activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videocutermerger.imageeditor.EditImageActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileproviderpaths" />
        </provider>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".videocutermerger.activities.MyCreationActivity" />
        <activity android:name=".videocutermerger.activities.Video_Play_Activity" />
    </application>

</manifest>